module.exports = {
	scriptHash: '65c07d970646fc7aebeae3bb4eb86bcdde957e1e',
	RESTEndpoint: 'http://testnet-api.wallet.cityofzion.io',
	wif: 'KxDgvEKzgSBPPfuVfw67oPQBSjidEiqTHURKSDL1R7yGaGYAeYnr',
	name: 'KRYPTON.live API Service',
	version: '0.1.0',
	port: 3000
};
